<style id="applicationStylesheet" type="text/css">
	.mediaViewInfo {
		--web-view-name: Create Invitation;
		--web-view-id: Create_Invitation;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Create_Invitation;
	}
	* {
		margin: 0;
		padding: 0;
	}
	#Create_Invitation {
		position: absolute;
		box-sizing: border-box;
		transform: translateX(-50%);
		left: 50%;
		background: #E5E5E5;
		width: 1280px;
		height: 1264px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		margin: 0;
		padding: 0;
		--web-view-name: Create Invitation;
		--web-view-id: Create_Invitation;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-enable-deep-linking: true;
	}
	#btn_SaveInvitation {
		position: absolute;
		width: 289px;
		height: 58px;
		left: 496px;
		top: 1152px;
		overflow: visible;
	}
	.Rectangle_5 {
		position: absolute;
		overflow: visible;
		width: 289px;
		height: 58px;
		left: 0px;
		top: 0px;
	}
	#Save_invitation {
		position: absolute;
		left: 46px;
		top: 14px;
		overflow: visible;
		width: 199px;
		white-space: nowrap;
		text-align: center;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(125,157,233,1);

	}
	#Templates {
		position: absolute;
		width: 1090px;
		height: 166px;
		left: 95px;
		top: 900px;
		overflow: visible;
	}
	.Template_1 {
		position: absolute;
		overflow: visible;
		width: 235px;
		height: 163px;
		left: 0px;
		top: 3px;
	}
	.Template_2 {
		position: absolute;
		overflow: visible;
		width: 235px;
		height: 163px;
		left: 285px;
		top: 3px;
	}
	.Template_3 {
		position: absolute;
		overflow: visible;
		width: 235px;
		height: 163px;
		left: 570px;
		top: 0px;
	}
	.Template_4 {
		position: absolute;
		overflow: visible;
		width: 235px;
		height: 163px;
		left: 855px;
		top: 0px;
	}
	#Select_Template {
		position: absolute;
		left: 50px;
		top: 827px;
		overflow: visible;
		width: 174px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Message {
		position: absolute;
		width: 622px;
		height: 236px;
		left: 50px;
		top: 527px;
		overflow: visible;
	}
	.edittext_Message {
		position: absolute;
		overflow: visible;
		width: 622px;
		height: 197px;
		left: 0px;
		top: 39px;
		border-radius: 25px;
		border: 1px solid #707070;
		padding: 15px;
	}
	#Message_A4_Text_3 {
		position: absolute;
		left: 0px;
		top: 0px;
		overflow: visible;
		width: 109px;
		white-space: nowrap;
		text-align: left;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Time {
		position: absolute;
		width: 235px;
		height: 87px;
		left: 322px;
		top: 415px;
		overflow: visible;
	}
	.edittext_Time {
		position: absolute;
		overflow: visible;
		width: 170px;
		height: 30px;
		left: 0px;
		top: 39px;
		border-radius: 25px;
		text-align: center;
		border: 1px solid #707070;
	}
	#Time_A4_Text_4 {
		position: absolute;
		left: 0px;
		top: 0px;
		overflow: visible;
		width: 67px;
		white-space: nowrap;
		text-align: left;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Date {
		position: absolute;
		width: 235px;
		height: 87px;
		left: 50px;
		top: 415px;
		overflow: visible;
	}
	.edittext_Date {
		position: absolute;
		overflow: visible;
		width: 170px;
		height: 30px;
		left: 0px;
		top: 39px;
	    border-radius: 25px;
	    border: 1px solid #707070;
	    text-align: center;
	}
	#Date_A4_Text_5 {
		position: absolute;
		left: 0px;
		top: 0px;
		overflow: visible;
		width: 61px;
		white-space: nowrap;
		text-align: left;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Attire {
		position: absolute;
		width: 622px;
		height: 87px;
		left: 50px;
		top: 303px;
		overflow: visible;
	}
	.edittext_Attire {
		position: absolute;
		overflow: visible;
		width: 622px;
		height: 30px;
		left: 0px;
		top: 39px;
	    border-radius: 25px;
	    border: 1px solid #707070;
	}
	#Attire_A4_Text_6 {
		position: absolute;
		left: 0px;
		top: 0px;
		overflow: visible;
		width: 77px;
		white-space: nowrap;
		text-align: left;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Venue {
		position: absolute;
		width: 622px;
		height: 87px;
		left: 50px;
		top: 191px;
		overflow: visible;
	}
	.edittext_Venue {
		position: absolute;
		overflow: visible;
		width: 622px;
		height: 30px;
		left: 0px;
		top: 39px;
	    border-radius: 25px;
	   	border: 1px solid #707070;
	}
	#Venue_A4_Text_7 {
		position: absolute;
		left: 0px;
		top: 0px;
		overflow: visible;
		width: 82px;
		white-space: nowrap;
		text-align: left;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Invitation_Details {
		position: absolute;
		left: 50px;
		top: 119px;
		overflow: visible;
		width: 186px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	.Rectangle_6 {
		position: absolute;
		overflow: visible;
		width: 523px;
		height: 741px;
		left: 715px;
		top: 131px;
	}
</style>