<style id="applicationStylesheet" type="text/css">
	.mediaViewInfo {
		--web-view-name: Signup;
		--web-view-id: Signup;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-refresh-for-changes: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Signup;
	}
	* {
		margin: 0;
		padding: 0;
	}

	#Signup {
		position: absolute;
		box-sizing: border-box;
		transform: translateX(-50%);
		left: 50%;
		background: #E5E5E5;
		width: 1280px;
		height: 1030px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		margin: 0;
		padding: 0;
		--web-view-name: Signup;
		--web-view-id: Signup;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-refresh-for-changes: true;
		--web-enable-deep-linking: true;
	}
	.Rectangle_4 {
		position: absolute;
		overflow: visible;
		width: 708px;
		height: 835px;
		left: 286px;
		top: 134px;
	}
	#btn_Signup {
		position: absolute;
		width: 188px;
		height: 58px;
		left: 546px;
		top: 859px;
		overflow: visible;
	}
	.Rectangle_5 {
		position: absolute;
		overflow: visible;
		width: 188px;
		height: 58px;
		left: 0px;
		top: 0px;
		border-radius: 25px;
	    padding-left: 10px;
	    border: 1px solid #707070;
	}
	#SignIn {
		position: absolute;
		left: 58px;
		top: 14px;
		overflow: visible;
		width: 85px;
		white-space: nowrap;
		text-align: left;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(125,157,233,1);
	}
	#Password {
		position: absolute;
		width: 622px;
		height: 87px;
		left: 329px;
		top: 721px;
		overflow: visible;
	}
	.edittext_Password {
		position: absolute;
	    overflow: visible;
	    width: 622px;
	    height: 30px;
	    left: 0px;
	    top: 39px;
	    border-radius: 25px;
	    padding-left: 10px;
	    border: 1px solid #707070;
	}
	#Password_A6_Text_2 {
		position: absolute;
		left: 0px;
		top: 0px;
		overflow: visible;
		width: 121px;
		white-space: nowrap;
		text-align: left;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Username {
		position: absolute;
		width: 622px;
		height: 87px;
		left: 329px;
		top: 614px;
		overflow: visible;
	}
	.edittext_Username {
		position: absolute;
	    overflow: visible;
	    width: 622px;
	    height: 30px;
	    left: 0px;
	    top: 39px;
	    border-radius: 25px;
	    padding-left: 10px;
	    border: 1px solid #707070;
	}
	#Username_A6_Text_3 {
		position: absolute;
		left: 0px;
		top: 0px;
		overflow: visible;
		width: 130px;
		white-space: nowrap;
		text-align: left;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#EmailAddress {
		position: absolute;
		width: 622px;
		height: 87px;
		left: 329px;
		top: 507px;
		overflow: visible;
	}
	.edittext_EmailAddress {
		position: absolute;
	    overflow: visible;
	    width: 622px;
	    height: 30px;
	    left: 0px;
	    top: 39px;
	    border-radius: 25px;
	    padding-left: 10px;
	    border: 1px solid #707070;
	}
	#Email_Address {
		position: absolute;
		left: 0px;
		top: 0px;
		overflow: visible;
		width: 187px;
		white-space: nowrap;
		text-align: left;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Middlename {
		position: absolute;
		width: 622px;
		height: 87px;
		left: 329px;
		top: 400px;
		overflow: visible;
	}
	.edittext_Middlename {
		position: absolute;
	    overflow: visible;
	    width: 622px;
	    height: 30px;
	    left: 0px;
	    top: 39px;
	    border-radius: 25px;
	    padding-left: 10px;
	    border: 1px solid #707070;
	}
	#Middlename_A6_Text_5 {
		position: absolute;
		left: 0px;
		top: 0px;
		overflow: visible;
		width: 160px;
		white-space: nowrap;
		text-align: left;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Lastname {
		position: absolute;
		width: 622px;
		height: 87px;
		left: 329px;
		top: 293px;
		overflow: visible;
	}
	.edittext_Lastname {
		position: absolute;
	    overflow: visible;
	    width: 622px;
	    height: 30px;
	    left: 0px;
	    top: 39px;
	    border-radius: 25px;
	    padding-left: 10px;
	    border: 1px solid #707070;
	}
	#Lastname_A6_Text_6 {
		position: absolute;
		left: 0px;
		top: 0px;
		overflow: visible;
		width: 127px;
		white-space: nowrap;
		text-align: left;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Firstname {
		position: absolute;
		width: 622px;
		height: 87px;
		left: 329px;
		top: 186px;
		overflow: visible;
	}
	.edittext_Firstname {
		position: absolute;
	    overflow: visible;
	    width: 622px;
	    height: 30px;
	    left: 0px;
	    top: 39px;
	    border-radius: 25px;
	    padding-left: 10px;
	    border: 1px solid #707070;
	}
	#Firstname_A6_Text_7 {
		position: absolute;
		left: 0px;
		top: 0px;
		overflow: visible;
		width: 134px;
		white-space: nowrap;
		text-align: left;
		font-family: Bookman Old Style;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	.Line_1 {
		overflow: visible;
		position: absolute;
		top: 80.5px;
		left: 0.5px;
		width: 1280px;
		height: 1px;
	}
	#navbar {
		position: absolute;
		width: 535px;
		height: 27px;
		left: 689px;
		top: 29px;
		overflow: visible;

	}
	a{
		text-decoration: none;
		color: black;
	}
	a:hover {
  		text-decoration: none;
		color: blue;
	}
	#Create_Event {
		position: absolute;
		left: 0px;
		top: 0px;
		overflow: visible;
		width: 112px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#Events {
		position: absolute;
		left: 146px;
		top: 0px;
		overflow: visible;
		width: 58px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#Account {
		position: absolute;
		left: 238px;
		top: 0px;
		overflow: visible;
		width: 74px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#Help_Center {
		position: absolute;
		left: 346px;
		top: 0px;
		overflow: visible;
		width: 106px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#Login {
		position: absolute;
		left: 486px;
		top: 0px;
		overflow: visible;
		width: 50px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	.logo {
		position: absolute;
		overflow: visible;
		width: 165px;
		height: 53px;
		left: 50px;
		top: 16px;
	}
</style>